config MCUAL
  bool "mcual"
  default n

source "$AUSBEE_CUSTOM_PACKAGES_PATH/mcual/Kconfig"

config LIBCOCOBOT
  bool "libcocobot"
  default n

source "$AUSBEE_CUSTOM_PACKAGES_PATH/libcocobot/Kconfig"

config VL53L0X
  bool "vl53l0x"
  default n

source "$AUSBEE_CUSTOM_PACKAGES_PATH/vl53l0x/Kconfig"

config VREP
  bool "V-Rep"
  default n

source "$AUSBEE_CUSTOM_PACKAGES_PATH/vrep/Kconfig"
