config MCUAL
  bool "mcual"
  default n

source "$AUSBEE_CUSTOM_PACKAGES_PATH/mcual/Kconfig"

config LIBCOCOBOT
  bool "libcocobot"
  default n

source "$AUSBEE_CUSTOM_PACKAGES_PATH/libcocobot/Kconfig"

config VREP
  bool "V-Rep"
  default n

source "$AUSBEE_CUSTOM_PACKAGES_PATH/simulator/vrep/Kconfig"

config FREERTOS_HOST_PORT
  bool "FreeRTOS simulation"
  default y

source "$AUSBEE_CUSTOM_PACKAGES_PATH/simulator/freeRtosPort/Kconfig"
