body {
  padding-top: 50px;
  overflow-y: scroll;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
  border: 0;
}

.main {
  padding-top: 20px;
}

.label-fade {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#scroll-wrap {
  max-height: 50vh;
  overflow-y: auto;
}

.label-space {
  margin-left: 5px;
}

.checkbox+.checkbox {
  margin-top: 10px;
}


.header-fixed {
  width: 100% 
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
  display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

.header-fixed > tbody {
  overflow-y: auto;
  height: 350px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
  float: left;
}

.small-margin-right {
  margin-right: 5px;
}
