<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cocobot - Cocoui</title>
    <link href="/static/libs/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/cocoui.css" rel="stylesheet">
  </head>
  <body>
    <div id="app"> </div>
    <script src="/static/libs/jquery-2.1.4.min.js"></script>
    <script src="/static/libs/socket.io.min.js"></script>
    <script src="/static/libs/bootstrap.min.js"></script>
    <script src="/static/libs/react.js"></script>
    <script src="/static/libs/JSXTransformer.js"></script>
    <script src="/static/libs/jquery.history.js"></script>
    <script>var DEFAULT_PAGE = "{{ page }}";var DEFAULT_PAGE_ARGS = {{ args }};</script>
    <script type="text/jsx" src="/static/js/topmenu.js"></script>
    <script type="text/jsx" src="/static/js/console.js"></script>
    <script type="text/jsx" src="/static/js/cocoui.js"></script>
  </body>
</html>
