config LIBCOCOBOT_ASSERV
	bool "+ Asserv"
	default n
	depends on LIBCOCOBOT

config LIBCOCOBOT_GAME_STATE
	bool "+ Game state"
	default n
	depends on LIBCOCOBOT

config LIBCOCOBOT_PATHFINDER
	bool "+ Pathfinder"
	default n
	depends on LIBCOCOBOT

config LIBCOCOBOT_SHIFTERS
	bool "+ Shifters"
	default n
	depends on LIBCOCOBOT

config LIBCOCOBOT_LCD
	bool "+ LCD"
	default n
	depends on LIBCOCOBOT

config LIBCOCOBOT_OPPONENT_DETECTION
	bool "+ Opponent detection"
	default n
	depends on LIBCOCOBOT

config LIBCOCOBOT_POSITION
	bool "+ Position"
	default n
	depends on LIBCOCOBOT

config LIBCOCOBOT_ACTION_SCHEDULER
	bool "+ Action scheduler"
	default n
	depends on LIBCOCOBOT

config LIBCOCOBOT_TRAJECTORY
	bool "+ Trajectory"
	default n
	depends on LIBCOCOBOT



choice
    prompt "Pathfinder Table"

config TABLE_2016
    bool "2016"

config TABLE_OTHER
    bool "other"

endchoice

config LIBCOCOBOT_POSITION_TICK_PER_180DEG
  int "+ Tick / 180deg"
  depends on LIBCOCOBOT
  default 1

config LIBCOCOBOT_POSITION_TICK_PER_METER
  int "+ Tick / 1m"
  depends on LIBCOCOBOT
  default 1000

config LIBCOCOBOT_DIST_RAMP_MAX_SPEED
  int "+ Distance ramp - maximum speed"
  depends on LIBCOCOBOT
  default 0

config LIBCOCOBOT_DIST_RAMP_MAX_ACCEL
  int "+ Distance ramp - maximum acceleration"
  depends on LIBCOCOBOT
  default 0

config LIBCOCOBOT_ANGU_RAMP_MAX_SPEED
  int "+ Angular ramp - maximum speed"
  depends on LIBCOCOBOT
  default 0

config LIBCOCOBOT_ANGU_RAMP_MAX_ACCEL
  int "+ Angular ramp - maximum acceleration"
  depends on LIBCOCOBOT
  default 0

config LIBCOCOBOT_DIST_PID_KP
  int "+ Distance PID - Kp"
  depends on LIBCOCOBOT
  default 0

config LIBCOCOBOT_DIST_PID_KI
  int "+ Distance PID - Ki"
  depends on LIBCOCOBOT
  default 0

config LIBCOCOBOT_DIST_PID_KD
  int "+ Distance PID - Kd"
  depends on LIBCOCOBOT
  default 0

config LIBCOCOBOT_DIST_PID_MAX_INTEGRAL
  int "+ Distance PID - max integral"
  depends on LIBCOCOBOT
  default 0

config LIBCOCOBOT_DIST_PID_MAX_ERROR_FOR_INTEGRATION
  int "+ Distance PID - max error for integration"
  depends on LIBCOCOBOT
  default 0

config LIBCOCOBOT_ANGU_PID_KP
  int "+ Anguar PID - Kp"
  depends on LIBCOCOBOT
  default 0

config LIBCOCOBOT_ANGU_PID_KI
  int "+ Angular PID - Ki"
  depends on LIBCOCOBOT
  default 0

config LIBCOCOBOT_ANGU_PID_KD
  int "+ Angular PID - Kd"
  depends on LIBCOCOBOT
  default 0

config LIBCOCOBOT_ANGU_PID_MAX_INTEGRAL
  int "+ Angular PID - max integral"
  depends on LIBCOCOBOT
  default 0

config LIBCOCOBOT_ANGU_PID_MAX_ERROR_FOR_INTEGRATION
  int "+ Angular PID - max error for integration"
  depends on LIBCOCOBOT
  default 0

config LIBCOCOBOT_LEFT_MOTOR_ALPHA
  int "+ Left motor low pass filter - alpha"
  depends on LIBCOCOBOT
  default 1000

config LIBCOCOBOT_RIGHT_MOTOR_ALPHA
  int "+ Right motor low pass filter - alpha"
  depends on LIBCOCOBOT
  default 1000
